@charset "utf-8";
@import "compass/css3/opacity";
@import "rgbapng";

$os_green: rgb(118, 177, 67); //#77AF42; //#76b143; 
$os_orange: #F47641; //#f37643;
$os_gray: #5F6163; //#5e6062;
$os_yellow: #F4D019; //#f5d10e;
$os_blue: #233066; //#00246a;
$os_dark_orange: darken($os_orange,10%);

$os_dark_gray: darken($os_gray,20%);

$new_black: rgb(36,29,1);

$master_width: 790px;

// Full width background image, per http://css-tricks.com/perfect-full-page-background-image/
html {
  background: url(../images/student_js.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position-y: 0;
}


@mixin standard-outer-box {
  width: $master_width;
  margin-left: auto;
  margin-right: auto;
}

@mixin light-font {
  font-family:'Avenir LT W01 35 Light', 'serif';
}

@mixin book-font {
  font-family:'Avenir LT W01 45 Book', 'serif';
}

@mixin medium-font {
  font-family:'Avenir LT W01 65 Medium', 'serif';
}

@mixin heavy-font {
  font-family: 'Avenir LT W01 85 Heavy', 'serif';
}

#footer, #footer a {
  @include book-font;
  // font-family: Arial, serif;
  font-size: 8pt;
  margin-top: 59px;
  color: white;
}

#footer {
  @include standard-outer-box;
  .logo {
    margin-top: -12px;
  }
}

body { 
  color: $new_black;
  margin-top:0px;
}

body, p, ol, ul, td, a {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

img {
  border: none;
}

input, textarea {
  font-size:13px;
  font-family: verdana,arial,helvetica,sans-serif;
  background-color: #eeeeee;  
  border: 1px solid #666666;
  padding: 6px;
}

a {
 text-decoration: none;
 color: $new_black;
 &:link {}
 &:hover { color: $os_orange;}
 &:visited {}
 &:active { color: #000;}
}

.link-button {
  background-color: $os_orange;
  color: white;
  font-weight: bold;
  padding: 0 13px 0 14px;
  font-size: 11px;
  border: none;
 
  &:hover {
   background-color: $os_dark_orange;
   color: white;
  }
}

#home-page {
  .top {
    @include standard-outer-box;

    height: 343px;
    img {
      margin-top: 0px;
      margin-left: -85px;
    }
  }

  #top-banner {
    .contents {
      @include standard-outer-box;  
      // height: 240px;
      overflow:auto;

      .pitch {
        float: left;
        width: 363px;
        padding-top: 14px;
        padding-bottom: 9px;
        position: relative;
        // height: 240px - 14px - 9px;

        .heading {
          @include medium-font;
          font-size: 24px;
        }
        .para {
          p {
            @include book-font;
            // font-size: 9.3px; 
            font-size:10.5px;
            text-align: justify;           
          }

        } 

        .button {
          width: 100%;
          margin-left:74px;
          // bottom: 18px;
          // position: absolute;

          .more-information {
            @include heavy-font;
            font-size: 12px;
            padding: 10px 46px;
            margin: 0 auto;
            display:inline-block;
          }          
        }


      }

      .video {
        float: right;
        width: 398px;
        // padding: 8px 0px;
        padding: 13px 0px;
        // height: 240px;
      }

    }
    
  }

  #bottom-banner {
    margin-top: 120px;
  }

  $product_height: 200px;
  // $product_width: 178px;
  $product_width: 235px;
  $extra_product_margin: 0px;

  .banner {
    @include rgba-background(rgba(255,255,255,0.66));
    border: #cedfeb solid;
    border-width: 1px 0px;
    width: 100%;   
    
    .products {
      @include standard-outer-box;
      height: $product_height;
      z-index: 100;

       .product {
          height: $product_height;
          float: left;
          width: $product_width;
          display: inline-block;
          margin: 0 $extra_product_margin;

          &.product-0 {

          }

          &.product-1 {
            width: $product_width + 81px;
          }

          &.product-2 {

          }

          &.first {
            // margin-left: ($master_width - 3* $product_width - 8*$extra_product_margin)/2;  
            // margin-left: -15px;
          }

          &.last {
            // margin-right: -15px;
          }

          .product-logo {
            text-align: center;
            height: 113px;
            width: 100%; //$product_width;
            
            div {
              position: relative;
              height: 113px;
          
              span {
                position: absolute;
                bottom: 13px;
                left: 0px;
                width: 100%; //$product_width;
              }

            }

          }

          .product-separator {
            width: 28px;
            margin: 0 auto;
            margin-bottom: 13px;
            border-top: 1px solid $os_green;

            &.coming-soon {
              border-color: #afadad;
            }
          }

          .product-description {
            font-size: 10px;
            width: 200px;
            text-align: center;
            @include book-font;
            
            color: #363636;
            margin: 0 auto;
            line-height: 9pt;
            letter-spacing: .05em;

            &.coming-soon {
              color: #afadad;
            }
          }
        }
      }
    } 
  }
