<div class='product'>

  <div class='product-logo'>
    <div>
    <% link_to link do %>
      <%= image_tag image %>
    <% end %>
    </div>
  </div>

  <div class='product-separator'></div>

  <div class='product-description'>
    <%= description %>
  </div>

</div>