<%= image_tag 'clouds.jpg', id: 'bg' %>

<div id='home-page'>
  <div class="top">
    <%= image_tag 'os_logo_tag.png' %>

    <h1>Welcome to OpenStax</h1>

    <p>Putting high-quality, flexible and free educational materials at your fingertips.  Free your mind.</p>

  </div>

  <div class="products">
    <div class='banner'>

    </div>

    <% products = [
        [ 'os_college_logo.png', 
          'http://openstaxcollege.org',
          'Professional-grade<br/>college textbooks,<br/>absolutely free.'
        ],
        [ 'os_cnx_logo.png', 
          'http://openstaxcnx.org',
          'One of the world’s best libraries of customizable educational materials.<br/>Available to anyone,<br/>anywhere, anytime &ndash;<br/>for free.'
        ],
        [ 'os_tutor_logo.png', 
          'http://openstaxtutor.org',
          'A personalized learning experience from a tutor that adapts to you.'
        ],
        [ 'os_exercises_logo_dim.png', 
          nil,
          'COMING SOON'
        ]

      ] %>

    <% products.each do |product| %>
      <%= partial 'home/product', locals: {image: product[0], link: product[1], description: product[2]} %>
    <% end %>

  </div>
</div>